<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <div>
        <h2>Register</h2>
        <form action="/user/new" method="POST">
            <div>
                <label for="first_name">First Name:</label>
                <input type="text" id="first_name" name="first_name">
                {% for message in get_flashed_messages(category_filter =['error_register_first_name']) %}
                <p>
                    {{message}}
                </p>
                {%endfor%}
            </div>
            <div>
                <label for="last_name">Last Name:</label>
                <input type="text" id="last_name" name="last_name">
                {% for message in get_flashed_messages(category_filter =['error_register_last_name']) %}
                <p>
                    {{message}}
                </p>
                {%endfor%}
            </div>
            <div>
                <label for="email">Email:</label>
                <input type="text" id="email" name="email">
                {% for message in get_flashed_messages(category_filter =['error_register_email']) %}
                <p>
                    {{message}}
                </p>
                {%endfor%}
            </div>
            <div>
                <label for="password">Password:</label>
                <input type="password" id="password" name="password">
                {% for message in get_flashed_messages(category_filter =['error_register_password']) %}
                <p>
                    {{message}}
                </p>
                {%endfor%}
            </div>
            <div>
                <label for="confirm_password">Confirm Password:</label>
                <input type="password" id="confirm_password" name="confirm_password">
                {% for message in get_flashed_messages(category_filter =['error_register_password_confirmation']) %}
                <p>
                    {{message}}
                </p>
                {%endfor%}
            </div>
            <button type="submit">Register</button>
        </form>
    </div>
    <div>
        <h2>Login</h2>
        <form action="/login" method="POST">
            <div>
                <label for="email">Email:</label>
                <input type="text" id="email" name="email">
                {% for message in get_flashed_messages(category_filter =['error_login']) %}
                <p>
                    {{message}}
                </p>
                {%endfor%}
            </div>
            <div>
                <label for="password">Password:</label>
                <input type="password" id="password" name="password">
                {% for message in get_flashed_messages(category_filter =['error_login']) %}
                <p>
                    {{message}}
                </p>
                {%endfor%}
            </div>
            <button type="submit">Login</button>
        </form>
    </div>
</body>
</html>